diagnostic_aggregator:
  ros__parameters:
    analyzers: ["AUV_NS", "base_station"]

    AUV_NS:
      type: diagnostic_aggregator/AnalyzerGroup
      path: AUV_NS
      analyzers:
        [
          "factor_graph_node",
          "navsat_odom_node",
          "bt_helm_node",
          "auv_receiver_node",
          "bag_recorder_node",
        ]

      factor_graph_node:
        type: diagnostic_aggregator/GenericAnalyzer
        path: "factor_graph_node"
        find_and_remove_prefix:
          [
            "factor_graph_node: [/AUV_NS] ",
            "factor_graph_node_isam2: [/AUV_NS] ",
            "factor_graph_node_lpi: [/AUV_NS] ",
            "factor_graph_node_tpi: [/AUV_NS] ",
          ]
        timeout: 5.0

      navsat_odom_node:
        type: diagnostic_aggregator/GenericAnalyzer
        path: "navsat_odom_node"
        find_and_remove_prefix: ["navsat_odom_node: [/AUV_NS] "]
        timeout: 5.0

      bt_helm_node:
        type: diagnostic_aggregator/GenericAnalyzer
        path: "bt_helm_node"
        find_and_remove_prefix: ["bt_helm_node: [/AUV_NS] "]
        timeout: 5.0

      auv_receiver_node:
        type: diagnostic_aggregator/GenericAnalyzer
        path: "auv_receiver_node"
        find_and_remove_prefix: ["auv_receiver_node: [/AUV_NS] "]
        timeout: 5.0

      bag_recorder_node:
        type: diagnostic_aggregator/GenericAnalyzer
        path: "bag_recorder_node"
        find_and_remove_prefix: ["bag_recorder_node: [/AUV_NS] "]
        timeout: 5.0

    base_station:
      type: diagnostic_aggregator/AnalyzerGroup
      path: base_station
      analyzers: ["base_dispatcher_node", "base_status_poller_node", "navsat_odom_node"]

      base_dispatcher_node:
        type: diagnostic_aggregator/GenericAnalyzer
        path: "base_dispatcher_node"
        find_and_remove_prefix: ["base_dispatcher_node: [/base_station] "]
        timeout: 5.0

      base_status_poller_node:
        type: diagnostic_aggregator/GenericAnalyzer
        path: "base_status_poller_node"
        find_and_remove_prefix: ["base_status_poller_node: [/base_station] "]
        timeout: 5.0

      navsat_odom_node:
        type: diagnostic_aggregator/GenericAnalyzer
        path: "navsat_odom_node"
        find_and_remove_prefix: ["navsat_odom_node: [/base_station] "]
        timeout: 5.0
