diagnostic_aggregator:
  ros__parameters:
    analyzers: ["AUV_NS"]

    AUV_NS:
      type: diagnostic_aggregator/AnalyzerGroup
      path: AUV_NS
      analyzers:
        [
          "factor_graph_node",
          "bt_helm_node",
          "dvl_a50_twist_node",
          "dvl_a50_odom_node",
          "fluid_pressure_odom_node",
          "navsat_odom_node",
          "seatrac_x150_imu_node",
        ]

      factor_graph_node:
        type: diagnostic_aggregator/GenericAnalyzer
        path: "factor_graph_node"
        regex: [".*factor_graph_node.*AUV_NS.*"]
        find_and_remove_prefix:
          [
            "factor_graph_node: [/AUV_NS] ",
            "factor_graph_node_isam2: [/AUV_NS] ",
            "factor_graph_node_lpi: [/AUV_NS] ",
            "factor_graph_node_tpi: [/AUV_NS] ",
          ]
        timeout: 5.0

      bt_helm_node:
        type: diagnostic_aggregator/GenericAnalyzer
        path: "bt_helm_node"
        regex: [".*bt_helm_node.*AUV_NS.*"]
        find_and_remove_prefix: ["bt_helm_node: [/AUV_NS] "]
        timeout: 5.0

      dvl_a50_twist_node:
        type: diagnostic_aggregator/GenericAnalyzer
        path: "dvl_a50_twist_node"
        regex: [".*dvl_a50_twist_node.*AUV_NS.*"]
        find_and_remove_prefix: ["dvl_a50_twist_node: [/AUV_NS] "]
        timeout: 5.0

      dvl_a50_odom_node:
        type: diagnostic_aggregator/GenericAnalyzer
        path: "dvl_a50_odom_node"
        regex: [".*dvl_a50_odom_node.*AUV_NS.*"]
        find_and_remove_prefix: ["dvl_a50_odom_node: [/AUV_NS] "]
        timeout: 5.0

      fluid_pressure_odom_node:
        type: diagnostic_aggregator/GenericAnalyzer
        path: "fluid_pressure_odom_node"
        regex: [".*fluid_pressure_odom_node.*AUV_NS.*"]
        find_and_remove_prefix: ["fluid_pressure_odom_node: [/AUV_NS] "]
        timeout: 5.0

      navsat_odom_node:
        type: diagnostic_aggregator/GenericAnalyzer
        path: "navsat_odom_node"
        regex: [".*navsat_odom_node.*AUV_NS.*"]
        find_and_remove_prefix: ["navsat_odom_node: [/AUV_NS] "]
        timeout: 5.0

      seatrac_x150_imu_node:
        type: diagnostic_aggregator/GenericAnalyzer
        path: "seatrac_x150_imu_node"
        regex: [".*seatrac_x150_imu_node.*AUV_NS.*"]
        find_and_remove_prefix: ["seatrac_x150_imu_node: [/AUV_NS] "]
        timeout: 5.0
