<library path="src">
  <class name="CougUtils"
    type="coug_rqt.coug_utils_plugin.CougUtilsPlugin"
    base_class_type="rqt_gui_py::Plugin">
    <description>CougUV fleet utils dashboard</description>
    <qtgui>
      <label>CoUGARs Utils</label>
      <icon type="theme">preferences-system</icon>
    </qtgui>
  </class>
</library>
